/* ---------- VARIABLES ---------- */
:root {
    --primary-color: #0a4a73;     /* azul oscuro */
    --secondary-color: #b5def8;   /* azul muy claro */
    --accent-color: #136f8a;      /* azul para hover o detalles */
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Raleway", sans-serif;
}

/* ---------- RESETEO ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    line-height: 1.5;
    background-color: white;
    color: #111;
}

/* ---------- HEADER Y NAV ---------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;                /* CONTRASTE FIJO */
}

header img {
    width: 120px;
    height: auto;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;                /* TEXTO BLANCO = CONTRASTE 7.9:1 */
    font-family: var(--heading-font);
}

nav a:hover {
    color: var(--secondary-color);
}

/* ---------- GR*
