body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

h1 {
    color: #001a66;
    font-size: 1.9rem;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    max-width: 750px;
    margin: 0 auto;
    background: #e8e8e8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #3c3cc6;          
    font-size: 1.1rem;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 20px;
    background-color: #fff;
}

.code-box {
    background-color: #333;
    color: #fff;
    padding: 12px 16px;
    border-radius: 5px;
    font-family: Consolas, "Courier New", monospace;
    font-size: 0.95rem;
    margin-bottom: 20px;
    display: inline-block;
}

button[type="submit"] {
    background-color: #6666f1; 
    color: white;
    border: none;
    padding: 16px 0;
    font-size: 1.2rem;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}
