main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: #b5def8;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    text-align: center;
    border-top: 1px solid #000);
    margin-top: 15px;
}