* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

h1 {
    color: #000000;
}

.profile {
    width: 150px;
    height: auto;
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}

nav {
    background-color: #cffff7;
    padding: 1rem;
}

nav a {
    color: #333;
    padding: 0.5rem 1rem;
    display: inline-block;
    text-decoration: none;
}

aside {
    position: relative; /* needed for heading overlay */
}

aside img {
    width: 100%;
    height: auto;
}

aside .overlay {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: white;
    background: rgba(0,0,0,0.6);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}


.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    background-color: #cffff7;
    color: #333;
    border-radius: 6px;
}
footer {
    text-align: center;
    border-top: 1px solid #000;
    margin-top: 15px;
    padding: 1rem;
}
