main {
    max-width: 840px;
}
h1 {
    color: #000000;
}
aside {
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: #cffff7;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}

nav {
    background-color: #cffff7;
    padding: 1rem;
}

nav a {
    color: #333;
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #000;
    padding: 5px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.3);
}

p {
    padding: 0;
}

footer {
    text-align: center;
    border-top: 1px solid #000;
    margin-top: 15px;
}